{% extends 'base.html.twig' %}

{% block title %}Liste des jouets{% endblock %}

{% block body %}
    <h1>Liste des jouets</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom_jouet</th>
                <th>Prix</th>
                <th>Description</th>
                <th>Categorie</th>
                <th>Photo</th>
                <th>Stock</th>
                <th>Reference</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for jouet in jouets %}
            <tr>
                <td>{{ jouet.id }}</td>
                <td>{{ jouet.nomJouet }}</td>
                <td>{{ jouet.prix }} €</td>
                <td>{{ jouet.description }}</td>
                <td>{{ jouet.categorie }}</td>
                <td>
                    <img class="mini" src="{{ asset("img/" ~ jouet.photo) }}" alt="pas de photo">
                </td>
                <td>{{ jouet.stock }}</td>
                <td>{{ jouet.reference }}</td>
                <td>
                    <a href="{{ path("jouet_fiche", {"id": jouet.id}) }}">
                                <i class="fa fa-book"></i>
                            </a>
                            <a href="{{ path("jouet_modifier", {"id": jouet.id }) }}">
                                <i class="fa fa-edit"></i>
                            </a>
                            <a href="{{ path("jouet_supprimer", {"id": jouet.id }) }}">
                                <i class="fa fa-trash"></i>
                            </a>
                </td>
            </tr>

        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path("jouet_ajouter") }}">Ajouter un jouet</a>
{% endblock %}
