{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}




    <div class="cart-table-area section-padding-100">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-12">
                    <div class="mt-50 clearfix">
                        <div class="cart-title">
                            <h2 class="text-center">Connexion</h2>
                        </div>
                        <div class="row">
                                <form method="post" class="mx-auto">
                                {% if error %}
                                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                {% endif %}

                                {% if app.user %}
                                    <div class="mb-3">
                                        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                                    </div>
                                {% endif %}
                            
                            <input type="text" value="{{ last_username }}" name="pseudo" placeholder="Pseudo" id="inputPseudo" class="mb-30 form-control" required autofocus>
                            
                            <input type="password" name="password" placeholder="Mot de passe" id="inputPassword" class="form-control" required>

                            <input type="hidden" name="_csrf_token"
                                value="{{ csrf_token('authenticate') }}"
                            >

                            {#
                                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                                See https://symfony.com/doc/current/security/remember_me.html

                                <div class="checkbox mb-3">
                                    <label>
                                        <input type="checkbox" name="_remember_me"> Remember me
                                    </label>
                                </div>
                            #}

                            <button class="btn amado-btn mt-30 w-100 " type="submit">
                                Se connecter
                            </button>
                            </form>
                        </div>
                        
                </div>    
            </div>
        </div>
    </div>
</div>
{% endblock %}
