

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>E-Jouet - {% block title %}Accueil{% endblock %}</title>

    <!-- Favicon  -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Core Style CSS -->
    {% block stylesheets %}{{ encore_entry_link_tags("app") }}{% endblock %}

        

        
    </head>



    <body>

    <!-- ##### Main Content Wrapper Start ##### -->
    <div class="main-content-wrapper d-flex clearfix">

        <!-- Mobile Nav (max width 767px)-->
        <div class="mobile-nav">
            <!-- Navbar Brand -->
            <div class="amado-navbar-brand">
                <a href="index.html"><img src="{{ asset("img/core-img/logo.png") }}" alt=""></a>
            </div>
            <!-- Navbar Toggler -->
            <div class="amado-navbar-toggler">
                <span></span><span></span><span></span>
            </div>
        </div>

        <!-- Header Area Start -->
        <header class="header-area clearfix">
            <!-- Close Icon -->
            <div class="nav-close">
                <i class="fas fa-times" aria-hidden="true"></i>
            </div>
            <!-- Logo -->
            <div class="logo">
                <a href="index.html"><img src="{{ asset("img/core-img/logo.png") }}" alt="logo"></a>
            </div>

            <!-- Amado Nav -->
            <!-- Cart Menu -->
            <div class="cart-fav-search mb-40">
                
                <a href="{{ path("boutique") }}" class="cart-nav"><div class="fas fa-store-alt"></div> Boutique</a>
                <a href="{{ path("panier") }}" class="cart-nav"><div class="fas fa-shopping-cart"></div> Panier <span>({{ app.session.get('panier')|length }})</span></a>
                
                
                {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                <a href="{{ path("paiement") }}" class="cart-nav"><div class="fas fa-credit-card"></div> Paiement</a>
                {% if is_granted("ROLE_ADMIN") %}
                    
                    <a href="{{ path("membre_index") }}" class="cart-nav "> <div class="fas fa-users"></div> Gérer les membres</a>
                    <a href="{{ path("jouet_index") }}" class="cart-nav "> <div class="fas fa-puzzle-piece"></div> Gérer les Jouets</a>
                    <a href="{{ path("commande_admin") }}" class="cart-nav "> <div class="fas fa-clipboard-list"></div> Gérer les commandes</a>
                {% endif %}
                <a href="{{ path("mon_compte") }}" class="cart-nav "> <div class="fas fa-user"></div> Mon compte</a>
                <a href="{{ path("app_logout") }}" class="cart-nav "> <div class="fas fa-sign-out-alt"></div> Déconnexion</a>
                {% else %}
                    <a href="{{ path("app_inscription") }}"><div class="fas fa-pen"></div> Inscription</a>
                    <a href="{{ path("app_login") }}" class="cart-nav "> <div class="fas fa-sign-in-alt"></div> Connexion</a>

                {% endif %}
                
            </div>
            <!-- Button Group -->
            <div class="amado-btn-group mt-30 mb-70">
                <a href="#" class="btn amado-btn mb-15">%PROMO%</a>
            </div>
        
            <!-- Social Button -->
            <div class="social-info d-flex justify-content-between">
                <a href="#"><i class="fab fa-pinterest" aria-hidden="true"></i></a>
                <a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a>
                <a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a>
            </div>
        </header>
        <!-- Header Area End -->
        
    {% block body %}

    {% endblock %}

    
    </div>
    <!-- ##### Main Content Wrapper End ##### -->
    

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer_area clearfix">
        <div class="container">
            <div class="row align-items-center">
                <!-- Single Widget Area -->
                <div class="col-12 col-lg-4">
                    <div class="single_widget_area">
                        <!-- Logo -->
                        <div class="footer-logo mr-50">
                            <a href="index.html"><img src="{{ asset("img/core-img/logo2.png") }}" alt=""></a>
                        </div>
                        <!-- Copywrite Text -->
                        <p class="copywrite"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;2021 All rights reserved | ce site à été fait avec <i class="fas fa-heart" aria-hidden="true"></i> par WF3 Students
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    </div>
                </div>
                <!-- Single Widget Area -->
                <div class="col-12 col-lg-8">
                    <div class="single_widget_area">
                        <!-- Footer Menu -->
                        <div class="footer_menu">
                            <nav class="navbar navbar-expand-lg justify-content-end">
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#footerNavContent" aria-controls="footerNavContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fas fa-bars"></i></button>
                                <div class="collapse navbar-collapse" id="footerNavContent">
                                    <ul class="navbar-nav ml-auto">
                                        <li class="nav-item active"><a class="nav-link" href="{{ path("boutique") }}">Boutique</a></li>
                                        <li class="nav-item"><a class="nav-link" href="{{ path("paiement") }}">Paiement</a></li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
        {% block javascripts %}{{ encore_entry_script_tags("app") }}{% endblock %}
    </body>

</html>
